
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario Contacto</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />  {{> navbar_admin}}
  </head>

<body class="main">
  <div class="container">
    <h2 class="headerNormal">Crear Publicación</h2>
    <form id="formPost" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <!-- Additional inputs/selects -->
        <input type="text" name="ubicacion" placeholder="Ubicación">
        <textarea name="description" placeholder="Description"></textarea>
        <select name="category">
          <option value="category1">Category 1</option>
          <option value="category2">Category 2</option>
          <!-- Add more options as needed -->
        </select>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

  </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function () {
        $("#formPost").on('submit', function (e) {
          e.preventDefault();
          let formData = new FormData(this);
          $.ajax({
            url: "/createPost",
            type: 'POST',
            data:formData,
            contentType: false,
            processData: false,
            success: function (res) {
              console.log("response: ", res);
              if(res.data === 'success') {
                  Swal.fire({
                    title: "Exito",
                    text: 'Se ha creado el producto',
                    icon: "success",
                    showCancelButton: false,
                    allowOutsideClick:false,
                    confirmButtonText: "Cerrar"
                    }).then((result) => {
                      if(result.isConfirmed) {
                        window.location.href = 'http://localhost:8080/';
                        }
                      })
                    }
              if(res.data === 'error') {
                  Swal.fire({
                    title: "Error",
                    text: "No se ha podido crear la publicación",
                    icon: "error"
                    });
                  }
            },
            error: function (err) {
              console.error("error: ", err);
              // Add your error handling logic
            }
          });
        });
      });

</script>
